.DS_Store
.env

build/
lib/

mintable.config.json
mintable.sandbox.json
mintable.jsonc

node_modules/
package-lock.json
yarn-error.log
yarn.lock
.next
*/.next
private-key.teller.mintable.pem
certificate.teller.mintable.pem


src/integrations/finicity/api/
openapitools.json
log.txt
finicity.yaml
imports/
balances.csv
transactions.csv
